@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Takin is a class project for 346 Software Enginering class.
    <a href="https://github.com/IUS-CS/s20-project-takin">Visit our GitHub page.</a>
</address>