@{
    ViewBag.Title = "Menu";
}

<div class="jumbotron">
    <h1>Order</h1>
    <p class="lead">Make any and all orders through the form below.</p>
    <p>Order form is currently in development and will appear later.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <p>Looks like the form isn't here yet, that's unfortunate.</p>
        <p>In the meantime, head on over to the IUS cafeteria and grab yourself something nice.</p>
        <p><a class="btn btn-default" href="http://localhost:5000/Home">Home &raquo;</a></p>
    </div>
</div>