@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Takin is an online food ordering service that provides customers the ability to place customized order for pickup.</p>
<p>For details on available products, check out the menu page.</p>
<p>To contact us with any questions or concerns, visit the contact page.</p>
