@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Takin is a class project for the C346 Software Enginering class at IUS.<br />
    You can visit our GitHub page
    <a href="https://github.com/IUS-CS/s20-project-takin">here.</a>
</address>