@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Takin</h1>
    <p class="lead">An online food ordering serivce providing you with an easy way to get what you want, when you want it.</p>
    <p><a href="https://github.com/IUS-CS/s20-project-takin" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            Take a look over our menu to find the right food you're looking for.
            We've got entrees, sides, deserts, drinks, and more.
        </p>
        <p><a class="btn btn-default" href="http://localhost:5000/Home/Menu">Menu &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Make an Order</h2>
        <p>
            Once you've found the items you like, head on over to the order form to make an order.
            Payments are accepted via IUS Crimson Card, MasterCard, and Paypal.
        </p>
        <p><a class="btn btn-default" href="http://localhost:5000/Home/Order">Order &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Specials, Discounts, and More</h2>
        <p>
            Be sure to check out our exclusive discounts that can only be redeemed through online orders.
            Also be sure take a look at the daily specials, your favorite menu item could appear on the list.
        </p>
        <p><a class="btn btn-default" href="http://localhost:5000/Home/Specials">Discounts &raquo;</a></p>
    </div>
</div>