@page
@model takin.Views.Home.MenuModel
@{
    ViewBag.Title = "Menu";
}

<div class="jumbotron">
    <h1>Menu</h1>
    <p class="lead">All items shown are available for order and are priced at face value.</p>
    <p>Current menu is made up of placeholders, actual items will go here later in devlopment.</p>

    <p><a onclick="location.href='order'" class="btn btn-primary btn-lg">Order now &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Item 1</h2>
        <p>
            This is an item.<br />
            $9.99
        </p>
        <p><a class="btn btn-default" href="http://localhost:5000/Home/Order">Order now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Item 2</h2>
        <p>
            This is another item.<br />
            $4.99
        </p>
        <p><a class="btn btn-default" href="http://localhost:5000/Home/Order">Order now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Item 3</h2>
        <p>
            This is a third item.<br />
            $12.99
        </p>
        <p><a class="btn btn-default" href="http://localhost:5000/Home/Order">Order now &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Item 4</h2>
        <p>
            This is an item in a new row.<br />
            $6.99
        </p>
        <p><a class="btn btn-default" href="http://localhost:5000/Home/Order">Order now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Item 5</h2>
        <p>
            This is yet another item, very cheap and affordable.<br />
            $0.99
        </p>
        <p><a class="btn btn-default" href="http://localhost:5000/Home/Order">Order now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Item 6</h2>
        <p>
            This is an item that costs quite a lot, so it's probably very good.<br />
            $21.99
        </p>
        <p><a class="btn btn-default" href="http://localhost:5000/Home/Order">Order now &raquo;</a></p>
    </div>
</div>