@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is a class project  thus it is just for test. The <strong>developer</strong> nor the<strong> school</strong> nor the<strong> professor</strong> are responsible for anything done by the client.</p>
