@page
@model takin.Views.Home.Store

@{
    ViewBag.Title = "Menu";
    
}

<!DOCTYPE html>

<html>
<head>
    <title>List of Resturants</title>
    
</head>
<body>
   
<main class="flex">
    <div class="card">
        <h1>IUS Dining</h1>
        <img src="~/Images/trident-large.png" alt="IU Logo" />
        <p class="lead">IUS Dining.</p>
        <input type="button" value="Order" onclick="location.href='menu'" />

    </div>
    
</main>
</body>
</html>
