@page
@model takin.Views.Home.Store

@{
    ViewBag.Title = "Menu";
    var IUSLogoLarge = "Shared/IUS/Images/trident-large.png";
    
}

<!DOCTYPE html>

<html>
<head>
    <title>List of Resturants</title>
    
</head>
<img src="@IUSLogoLarge" alt="IU logo">
<body>
<div>
    
</div>
</body>
</html>