@{
    ViewBag.Title = "Menu";
}

<div class="jumbotron">
    <h1>Discounts & Specials</h1>
    <p class="lead">All daily specials and claimable discounts are listed below.</p>
    <p>Menu page is currently in development, so consequenty this page is not very useful yet.</p>
    <p><a href="http://localhost:5000/Home/Order" class="btn btn-primary btn-lg">Order now &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Special 1</h2>
        <p>
            This is an item that costs less than normal.<br />
            $7.99 today, was $9.99
        </p>
        <p><a class="btn btn-default" href="http://localhost:5000/Home/Order">Order now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Special 2</h2>
        <p>
            This is another item that costs less than normal, but only if you buy 2.<br />
            $3.99 for 2, or $4.99 each
        </p>
        <p><a class="btn btn-default" href="http://localhost:5000/Home/Order">Order now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Special 3</h2>
        <p>
            This is an item that comes free if you buy 3.<br />
            $12.99, 3rd is free
        </p>
        <p><a class="btn btn-default" href="http://localhost:5000/Home/Order">Order now &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Discount 1</h2>
        <p>
            Enter code "DISCOUNT1" at checkout for a free 2 liter.
        </p>
        <p><a class="btn btn-default" href="http://localhost:5000/Home/Order">Order now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Discount 2</h2>
        <p>
            Enter code "DISCOUNT2" at checkout for 10% off your order.
        </p>
        <p><a class="btn btn-default" href="http://localhost:5000/Home/Order">Order now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Discount 3</h2>
        <p>
            Enter code "DISCOUNT3" at checkout for a fully free purchase.<br />
            Results may vary.
        </p>
        <p><a class="btn btn-default" href="http://localhost:5000/Home/Order">Order now &raquo;</a></p>
    </div>
</div>